:root {
	--accent    : #c7c0eb;
	--accent-bg : #201939;
	--azure     : #a8cbec;
	--azure-bg  : #02213a;
	--bg        : #1d2021;
	--bg-edge   : #121516;
	--bg-edge2  : #060808;
	--bg-mid    : #363a3b;
	--bg-mid2   : #515556;
	--blue      : #c7c0eb;
	--blue-bg   : #201939;
	--cyan      : #98d3d7;
	--cyan-bg   : #00393c;
	--fg        : #c0c8cc;
	--fg-edge   : #d2dade;
	--fg-edge2  : #e5eef2;
	--fg-mid    : #a2aaae;
	--fg-mid2   : #858c90;
	--green     : #a7d3b7;
	--green-bg  : #002915;
	--orange    : #e2c09e;
	--orange-bg : #361d00;
	--purple    : #e1b8d5;
	--purple-bg : #31132a;
	--red       : #ebb8b5;
	--red-bg    : #371212;
	--yellow    : #c7cb9e;
	--yellow-bg : #262700;
}