:root {
	--accent    : #9cd0e3;
	--accent-bg : #11262d;
	--azure     : #98d3d8;
	--azure-bg  : #003a3e;
	--bg        : #11262d;
	--bg-edge   : #051a20;
	--bg-edge2  : #000f15;
	--bg-mid    : #2a4047;
	--bg-mid2   : #445a62;
	--blue      : #a8cbec;
	--blue-bg   : #05243e;
	--cyan      : #a7d3b8;
	--cyan-bg   : #002b17;
	--fg        : #c0c8cc;
	--fg-edge   : #d2dade;
	--fg-edge2  : #e5eef2;
	--fg-mid    : #a3abaf;
	--fg-mid2   : #868e91;
	--green     : #c6cb9f;
	--green-bg  : #262800;
	--orange    : #ebb8b5;
	--orange-bg : #3b1515;
	--purple    : #c7c0eb;
	--purple-bg : #241c3d;
	--red       : #e1b8d4;
	--red-bg    : #35162d;
	--yellow    : #e1c09d;
	--yellow-bg : #381f00;
}