:root {
	--accent    : #8bd3ec;
	--accent-bg : #11262d;
	--azure     : #85d6dd;
	--azure-bg  : #004b50;
	--bg        : #11262d;
	--bg-edge   : #051a20;
	--bg-edge2  : #000f15;
	--bg-mid    : #2a4047;
	--bg-mid2   : #445a62;
	--blue      : #9dccf9;
	--blue-bg   : #002b4c;
	--cyan      : #9bd7b3;
	--cyan-bg   : #003a21;
	--fg        : #c0c8cc;
	--fg-edge   : #d2dade;
	--fg-edge2  : #e5eef2;
	--fg-mid    : #a3abaf;
	--fg-mid2   : #868e91;
	--green     : #c7cd90;
	--green-bg  : #343700;
	--orange    : #f7b3af;
	--orange-bg : #410d0f;
	--purple    : #c8bdf7;
	--purple-bg : #251945;
	--red       : #eab3d9;
	--red-bg    : #391030;
	--yellow    : #eabd8e;
	--yellow-bg : #492a00;
}